/* Your custom CSS styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #008B8B;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.navbar-left {
  background-color: #A9A9A9; /* Match the color with the header */
  color: #fff;
  height: calc(100vh - 120px); /* Adjust the height to be equal to 100% - header height */
  position: fixed;
  top: 95px; /* Position the navbar below the header */
  left: 0;
  padding: 20px;
  width: 200px;
}

.navbar-left a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

.navbar-left a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  margin-left: 220px; /* To push the content away from the left navbar */
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.feature {
  display: none; /* Hide all features by default */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 25px; /* Increased padding */
  margin-bottom: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 900px; /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
  font-size: 16px; /* Increased font size */
  transition: height 0.3s ease;
}

.feature.active {
  display: block;
}

.feature h2 {
  margin-top: 0;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.feature p {
  margin: 0;
}

.feature button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.feature button:hover {
  background-color: #444;
}

/* CSS for table and form */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
